<footer class="footer " style="width:100%">
    <div class="container-fluid">
        <nav class="pull-left" style="float: left !important;">
            <ul>
                <li>
                    <a href="#">
                        Contact us
                    </a>
                </li>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright" >
            &copy;
            {{test | date: 'yyyy'}}, made with love by Alaa Awwad 
        </div>
    </div>
</footer>