<div *ngIf="(loader.isLoading$ | async)" class="spinner-overlay">
    
    <div class="spinner-border center-screen" style="width: 3rem; height: 3rem;" role="status">
       <div class="cssload-speeding-wheel"></div>
       <!-- <ngx-bootstrap-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#ee4111" type = "border" [fullScreen] = "true" loadingText = "Loading..."></ngx-bootstrap-spinner>-->
      </div>
    
 <!--   <mat-spinner diameter="50" matSuffix mode="indeterminate"></mat-spinner>-->
 </div>