.login-form-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .button-flex-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  img{  
    display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-left: 25%;
  }
  button{
    border-radius: 40px;
    width:150px;

  }

  .material-icons{
    vertical-align: middle;
}

.Back{
  background-color: white !important;
  color: black !important;
  border: none !important;
}