
<div class="login-form-flex">
  <mat-card style="height: 400px;width: 400px;">
    <img  style="height: 200px;width: 200px;"
    src="./assets/Images/loginImage.PNG">
    <mat-card-title>
      Sign in
    </mat-card-title>
    <mat-card-content>
      <mat-form-field  style="width:100%">
        <input matInput placeholder="username" #boxEmail="ngModel"  [(ngModel)]="service.formData.email" (change)="onEnter(boxEmail.value)"  required>
      </mat-form-field>
      <br/>
      <div *ngIf="!boxEmail.value && boxEmail.touched" style="color: red;">Field is required!</div>
      <div *ngIf="boxEmail.errors?.email && boxEmail.touched" style="color: red;">Invalid Username!</div>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-flex-container">
        <a><button type="button" routerLink="/password" class="btn btn-success" (click)="gotoLogin();" [disabled]="(!boxEmail.value || boxEmail.errors?.email)" >Next</button></a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
